<div class="row">
    <div class="col-sm-12">
  
   
      <!-- Inverse table card end -->
      <!-- Hover table card start -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-header-text">Campanies clients list</h5>
          <button (click)="addCompany()" id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right">
            <i class="ti-pencil-alt"></i>
          </button>
        </div>
        <div class="card-body">
             <div class="table-responsive">
              <table class="table table-hover">
               <thead>
              <tr>  
                <th>Name</th>
                <th>Web site</th>
                <th>Contact name</th>
                <th>Contact surname</th>
                <th>Contact email</th>
                <th>Contact phone</th>
                <th>Actions</th>

  
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let companyclient of companiesClients">
                <td>{{companyclient.companyName}}</td>
                <td>{{companyclient.companyWebSite}}</td>
                <td>{{companyclient.firstNameContact}}</td>
                <td>{{companyclient.lastNameContact}}</td>
                <td>{{companyclient.emailContact}}</td>
                <td>{{companyclient.phoneContact}}</td>
                <td> 
                  <button class="button" class="btn btn-sm btn-success waves-effect">
                    <i class="ti-id-badge"></i> register
  
                  </button>
                <button (click)="updateCompany(companyclient)" class="button" class="btn btn-sm btn-info waves-effect">
                  <i class="ti-pencil-alt"></i> edit

                </button>
                <button (click)="deleteCompanyClient(companyclient.companyId)"class="button" class="btn btn-sm btn-danger waves-effect">
                  <i class="ti-close"></i> Delete

                </button>
              </td>
              </tr> 
              </tbody>
          </table>
        </div>
      </div>
    
      <!-- Background Utilities table end -->
    </div>
  </div>
  