    <!-- starts -->
    <div class="auth-fluid">
        <div class="row">
          <div class="col-sm-12">
            <!-- Authentication card start -->
            <div class="login-card card-body auth-body">
              <form  class="md-float-material" #f="ngForm" novalidate>
                <div class="text-center">
                </div>
                <div class="auth-box">
                  <div class="row m-b-20">
                    <div class="col-md-12">
                      <h3 class="text-center txt-primary">Person</h3>
                    </div>
                  </div>
                  <hr/>
                  <div class="input-group">
                    <input type="text"   class="form-control" name="first"
                     [(ngModel)]="person.firstName"   placeholder="Choose person first name" required/>
                    <span class="md-line"></span>
                  </div>

                  <div class="input-group">
                    <input type="text"   class="form-control" name="lastName"
                     [(ngModel)]="person.lastName"  placeholder="Choose person last name" required/>
                    <span class="md-line"></span>
                  </div>
                  <div class="input-group">
                    <input type="text"   class="form-control" name="phoneNumber"
                     [(ngModel)]="person.phoneNumber"  placeholder="Choose person phone number" required/>
                    <span class="md-line"></span>
                 </div>

                  <div class="input-group">
                     <select  class="form-control" name="department list" 
                     [(ngModel)]="department" (ngModelChange)="selectDepartment(department)" >
                     <option [ngValue]="undefined" hidden>Select one department</option>
                       <option  *ngFor = "let department of departments" [value]="department.departmentId">
                           {{department.departmentName}}</option>
                     </select>
                 </div>
            
    
                  <div class="row m-t-30">
                    <div class="col-md-12">
                      <button type="button" (click)="updatePerson(person)"
                       class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                       <i class="ti-save"></i> Update person</button>
                    </div>
                  </div>
                  <hr/>
                </div>
              </form>
              <!-- end of form -->
            </div>
            <!-- Authentication card end -->
          </div>
          <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
      </div>
   
    