

<div class="row">
    <div class="col-sm-12">
  
   
      <!-- Inverse table card end -->
      <!-- Hover table card start -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-header-text">Item family list</h5>
          <button (click)="addItemFamily()" id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right">
            <i class="ti-pencil-alt"></i>
          </button>
        </div>
        <div class="card-body">
             <div class="table-responsive">
              <table class="table table-hover">
               <thead>
                <tr>  
                  <th>Description</th>
                  <th>Created date</th>
                  <th>Action</th>


                </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let itemFamily of itemsFamily">
                  <td>{{itemFamily.description}}</td>
                  <td>{{itemFamily.creationDate}}</td>
                  <td> 
                    <button class="button" (click) = "updateItemFamily(itemFamily)"
                    class="btn btn-sm btn-success waves-effect">
                    <i class="ti-pencil-alt"></i> Edit
                   </button>
                     <button class="button"  (click) = "deleteItemFamily(itemFamily.itemFamilyId)"
                     class="btn btn-sm btn-danger waves-effect">
                    <i class="ti-trash"></i> Delete
                     </button>
                 </td>
              </tr> 
              </tbody>
          </table>
        </div>
      </div>
    
      <!-- Background Utilities table end -->
    </div>
  </div>
  